table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#from, #to {
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
}
#submit {
    border-radius: 2px;
    padding: 10px 32px;
    font-size: 16px;
}
.profile{
    height: 60px;
    width: 80px;
    overflow: hidden;
}
.profile img{
    width: 100%;
}